.site_card_border_less_wrapper {
  width: 72%;
  height: 215px;
  padding: 0 30px 0 30px;
  position: absolute;
  right: 14%;
  bottom: 20px;
  left: 14%;
  z-index: 11;
  top: 600px;
}
.card {
  border: 2px solid #ebb320;
  border-radius: 8px;
}
